body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

/*-----Sidebar-----*/
.sidebar {
    background-color: rgba(69, 144, 207);
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    justify-items: start;
    gap: 40px;
    padding: 20px;
    color: white;
}

.sidebar h1 {
    margin: 0;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 15px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 10px;
}

.sidebar li {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 15px;
}

h1 span {
    font-size: 26px;
}

.sidebar svg {
    fill: white;
}

h1 svg {
    height: 50px;
    width: 50px;
    margin-left: -10px;
}

li svg {
    height: 25px;
    width: 25px;
}

/*-----Header-----*/
.header {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 10px;
    position: relative;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header input {
    background-color: rgba(227, 232, 239);
    border: none;
    border-radius: 20px;
    width: 85%;
    height: 25px;
}

.header h1 {
    font-size: 26px;
}

.header h2 {
    font-size: 16px;
}

.header button {
    color: white;
    background-color: rgba(69, 144, 207);
    border: none;
    width: 85px;
    height: 35px;
    border-radius: 20px;
}

.header form {
    display: grid;
    grid-template-columns: 40px 1fr;
    margin-left: 25px;
    align-items: center;
}

.top-right {
    display: grid;
    grid-template-columns: 50px 100px 100px;
    align-items: center;
    margin-left: 75px;
    padding-top: 10px;
}

.bottom-left {
    display: grid;
    grid-template-columns: 75px 1fr;
    margin-left: 35px;
    gap: 5px 10px;
    padding-bottom: 10px;
}

.bottom-left h1 {
    grid-column: 2;
}

.bottom-left p {
    align-self: end;
}

.bottom-right {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    align-items: center;
    margin-bottom: 10px;
}

.top-right img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.bottom-left img {
    height: 75px;
    width: 75px;
    border-radius: 100px;
    grid-row: 1 / 3;
}

.header svg {
    height: 20px;
    width: 20px;
}

.header form svg {
    margin-top: 4px;
}

/*-----Content-----*/
.content {
    background-color: rgba(227, 232, 239);
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
    padding: 20px;
    align-items: start;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 20px 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.project {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(231, 183, 74) 0%, rgba(231, 183, 74) 2%, white 2%, white 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    align-items: center;
}

.project h4 {
    margin-left: 25px;
    align-self: end;
}

.project p {
    grid-row: 2;
    grid-column: 1 / 3;
    align-self: start;
    margin-left: 25px;
}

.project .icons {
    grid-row: 3;
    grid-column: 2 / 3;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.first {
    grid-column: 1;
}

.right-items {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.announcements-container {
    display: grid;
    grid-template-rows: 20px 1fr;
    row-gap: 20px;
}

.announcements {
    background-color: white;
    height: 350px;
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

.announcements h4 {
    margin-left: 25px;
    align-self: end;
}

.announcements p {
    margin-left: 25px;
}

.announcements hr {
    width: 475px;
    height: 1px;
    border: none;
    background-color: black;
}

.trending-container {
    display: grid;
    grid-template-rows: 20px 1fr;
    row-gap: 20px;
}

.trending {
    background-color: white;
    height: 225px;
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.trending .profile-pics {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 25px;
    align-items: center;
}

.trending .names {
    display: grid;
    align-items: center;
}

.trending img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.icons svg {
    height: 20px;
    width: 20px;
}

/*-----remove default styling*/
h1, h2, p, h3, h4 {
    padding: 0;
    margin: 0;
}

/*-----extras-----*/
button:hover {
    cursor: pointer;
    transform: scale(1.15);
}

svg:hover {
    cursor: pointer;
}

span:hover {
    cursor: pointer;
}